<!DOCTYPE html>
<html>
<head>
  <title>Rumble</title>
  <script type="text/javascript" src="//use.typekit.net/pmb1dkw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
<a href="/"><%= image_tag "logo.png", class: 'logo' %></a>
</header>
<div class="overlay"></div>
<div class="container">

<%= yield %>
</div>
<div class="add-buttons">
  <ul>
    <a id="photo" href="/"><li>+PHOTO<br><i class="fa fa-2x fa-camera"></i></li></a>
    <a id="review" href="/dining_halls/<%= DiningHall.first.id %>/reviews/new"><li>+REVIEW<br><i class="fa fa-2x fa-star"></i></li></a>
    <a id="checkin" ><li>+CHECK-IN<br><i class="fa fa-2x fa-check-square"></i></li></a>
  </ul>

</div>

<div class="bottom-nav">
  <ul>
    <a href="/"><li class="border-right" > <i class="fa fa-2x fa-lightbulb-o"></i></li></a>
    <a  href="/school"><li class="border-right"> <i class="fa fa-2x fa-map-marker"></i></li></a>
    <li id="add" > <i class="fa fa-2x fa-plus"></i></li>
    <a  href="/students/<%= current_student.id %>"><li class="border-left"> <i class="fa fa-2x fa-user"></i></li></a>
    <a  href=""><li class="border-left" > <i class="fa fa-2x fa-heart-o"></i></li></a>

  </ul>

</div>


</body>
</html>
